.my-items-section {
    padding-bottom: 400px;
}

.items-div {
    width: 820px;
    border: 2px solid rgb(27, 62, 65);
    border-radius: 5px 25px;
    padding: 10px;
    margin-bottom: 30px;
}

.items-header {
    width: 340px;
}

.my-items-img {
    height: 120px;
}

.delete-button {
    color: rgb(197, 53, 55);
    margin-top: -15px;
    font-size: 40px;
    border: none;
    background-color: white;
}

.delete-button:hover {
    color: rgb(27, 62, 65);
    transition: 0.3s;
}

@media only screen and (max-width: 576px) {
    .my-items-section {
        padding-bottom: 300px;
    }

    .items-div {
        width: 260px;
        padding: 0px;
        flex-direction: column;
    }

    .items-header {
        width: 220px;
        margin: 0 auto;
        padding-left: 20%;
        padding-bottom: 10px;
    }
}

@media only screen and (min-width:577px) and (max-width: 992px) {
    .items-div {
        width: 680px;
    }
    
    .items-header {
        width: 220px;
    }
}