.social-login p {
    margin-top: 15px;
}

.social-login {
    display: block;
    width: 175px;
    height: 50px;
    text-transform: uppercase;
    border: none;
    background-color: rgb(27, 62, 65);
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: inset 0 0 0 0 rgb(197, 53, 55);
    transition: ease-out 0.3s;
    outline: none;
    border-radius: 5px;
    margin-right: 15px;
}

.social-login:hover {
    box-shadow: inset 175px 0 0 0 rgb(197, 53, 55);
}

.loader {
    display: block;
    height: 50px;
    margin: 0 auto;
}

@media only screen and (max-width: 576px) {
    .social-btn {
        flex-direction: column;
    }

    .social-login {
        margin-bottom: 20px;
    }
}