.upgrade-section {
    margin-top: 100px;
    margin-bottom: 100px;
}

.all-btn {
    width: 200px;
    height: 60px;
    font-size: 1.3rem;
    text-transform: uppercase;
    color: white;
    border: 3px solid rgb(197, 53, 55);
    border-radius: 4px;
    background-color: rgb(197, 53, 55);
     transition: ease-out 0.3s;
     outline: none;
     position: relative;
     z-index: 1;
}

.all-btn:hover {
    color: #fff;
    cursor: pointer;
    border: 3px solid rgb(27, 62, 65);
}

.all-btn:before{
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: rgb(27, 62, 65);
}

.all-btn:hover:before{
    transition: 0.5 all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}

.img-hover:hover {
    transform: scale(1.2);
    transition: 0.4s;
}