.advantages-section {
    background: linear-gradient(black, rgb(27, 62, 65));
    margin-top: 100px;
    margin-bottom: 100px;
}

.advantage-header {
    padding-left: 10%;
}

.advantage-description {
    padding-left: 10%;
}

.advantage-header-title {
    font-size: 50px;
    color: aliceblue;
}

.advantage-icons {
    color: bisque;
    font-size: 40px;
    margin-left: 20%;
}

.advantage-text h3 {
    color: rgb(255, 40, 91);
    width: 270px;
    margin: 20px auto;
}

.advantage-text p {
    color: white;
    width: 270px;
    margin: 20px auto;
}