.advantages-section {
    background: linear-gradient(black, rgb(27, 62, 65));
    margin-top: 100px;
    margin-bottom: 100px;
}

.advantage-header {
    padding-left: 10%;
}

.advantage-description {
    padding-left: 10%;
}

.advantage-header-title {
    font-size: 50px;
    color: aliceblue;
    font-weight: 700;
}

.advantage-icons {
    color: bisque;
    font-size: 40px;
    margin-left: 20%;
}

.advantage-text h3 {
    color: rgb(255, 40, 91);
    width: 270px;
    margin: 20px auto;
    font-weight: 600;
}

.advantage-text p {
    color: white;
    width: 270px;
    margin: 20px auto;
}

@media only screen and (max-width: 576px) {
    .advantages-section {
        width: 95%;
        padding-bottom: 50px;
        margin: 100px auto;
        border-radius: 5px;
    }

    .advantage-header-title {
        font-size: 40px;
    }
}

@media only screen and (min-width: 577px) and (max-width: 992px) {
    .advantages-section {
        width: 95%;
        padding-bottom: 50px;
        margin: 100px auto;
    }
}