.adventure-straight-line {
    width: 50px;
    height: 3px;
    background-color: rgb(255, 40, 91);
    margin-top: -80px;
    margin-right: -50px;
}

.adventure-header {
    font-size: 50px;
    color: rgb(27, 62, 65);
    font-weight: 700;
}

@media only screen and (max-width: 576px) {
    .adventure-img {
        padding-bottom: 50px;
    }

    .adventure-header {
        padding-left: 10%;
        font-size: 40px;
    }

    .adventure-straight-line {
        position: absolute;
        margin-top: -120px ;
        margin-left: -280px;
    }
}

@media only screen and (min-width: 577px) and (max-width: 992px) {
    .adventure-header {
        padding-left: 5%;
        font-size: 40px;
    }

    .adventure-straight-line {
        display: none;
    }
}