.footer-section {
    background-image: url("../../../images//footer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.newsletter-section {
    position: absolute;
    width: 70%;
    height: 100px;
    background: linear-gradient(black, rgb(27, 62, 65));
    top: -13%;
    left: 20%;
}

.newsletter-title {
    color: rgb(255, 40, 91);
    font-size: 40px;
    padding-top: 4%;
    font-weight: 600;
}

.footer-input {
    width: 50%;
    height: 53px;
    margin-top: 23px;
    border-radius: 5px;
}

.footer-input::placeholder {
    color: rgb(255, 40, 91);
    padding-left: 30px;
}

.footer-text {
    padding-top: 100px;
    padding-bottom: 40px;
}

.footer-logo-image {
    height: 30px;
}

.copywrite-text {
    font-size: 18px;
    padding: 10px 0;
}

.footer-social-icons {
    color: rgb(245, 234, 221);
    font-size: 30px;
    cursor: pointer;
}

.footer-social-icons:hover {
    color: rgb(255, 40, 91);
    transition: 0.4s;
}

.footer-services h6:hover {
    color: rgb(255, 40, 91);
    cursor: pointer;
}

@media only screen and (max-width: 576px) {
    .newsletter-section {
        height: 300px;
        top: -10%;
        left: 14%;
    }

    .newsletter-input {
        flex-direction: column;
    }

    .footer-input {
        width: 80%;
    }

    .footer-social {
        padding-top: 150px;
        padding-bottom: 40px;
        padding-left: 50px;
    }

    .footer-services {
        padding-top: 40px;
        padding-left: 50px;
    }
}

@media only screen and (min-width: 577px) and (max-width:992px) {
    .newsletter-section {
        width: 90%;
        height: 140px;
        top: -15%;
        left: 5%;
    }

    .footer-input {
        width: 40%;
    }
}