.carousel-indicators [data-bs-target]{
    height: 4px;
    width: 45px;
    border-radius: 10px;
    background-color: rgb(197, 53, 55);
}

.carousel-item {
    height: 100vh !important;
}

.carousel-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
}

.cover h1 {
    font-size: 60px;
    text-transform: uppercase;
    position: relative;
    animation: text 2s 1;
    font-weight: 700;
}

.cover p {
    font-size: 18px;
}

.banner-title {
    color: white !important;
}

.header-content {
    position: relative;
    padding: 40px 55px;
}

.line {
    content: "";
    width: 100%;
    height: 100%;
    margin: 20px;
    left: 0;
    top: 0;
    position: absolute;
    border: 9px solid white;
    clip-path: polygon(0 0, 47% 0, 25% 100%, 0% 100%);
}

@keyframes text {
    0%{
        margin-bottom: -60px;
    }
}

@media only screen and (max-width: 576px){
    .cover {
        background: rgba(0, 0, 0, 0.5);
    }

    .line {
        clip-path: polygon(0 0, 85% 0, 50% 100%, 0% 100%);
    }
}

@media only screen and (min-width: 576px) and (max-width: 992px){
    .cover {
        background: rgba(0, 0, 0, 0.5);
    }
    
    .line {
        clip-path: polygon(0 0, 70% 0, 35% 100%, 0% 100%);
    }
}