.table-section {
    padding-bottom: 200px;
}

.delete-icon {
    color: rgb(197, 53, 55);
    font-size: 40px;
    border: none;
}

.delete-icon:hover {
    color: rgb(27, 62, 65);
    transition: 0.3s;
}

.product-name {
    padding-left: 30px !important;
}

.stock-update {
    padding: 0 13px !important;
}

@media only screen and (max-width: 576px) {
    .small-device {
        display: none;
    }
}