.sign-up-section {
    background-image: url("../../../images/signup.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 220px;
    padding-top: 30px;
}

.form-bg-sign-up {
    width: 500px;
    height: 630px;
    background-color: rgb(27, 62, 65);
    border-radius: 10px;
    margin: 0 auto;  
}

.form-container-sign-up {
    width: 500px;
    height: 630px;
    background-image: url("../../../images//bg.jpg");
    border: 1px solid #95A0A7;
    box-sizing: border-box;
    border-radius: 10px;
    transform: translate(15px, 15px);
}

.red {
    color: rgb(197, 53, 55);
}

.green {
    color: rgb(27, 62, 65);
}

.signup-input {
    display: block;
    margin: 0 auto;
    width: 350px;
    height: 40px;
    background-color: aliceblue;
    border: 1px solid rgb(27, 62, 65);
    border-radius: 5px;
}

.signup-input::placeholder {
    color: rgb(27, 62, 65);
    padding-left: 50px;
    font-size: 17px;
}

.submit-style {
    display: block;
    width: 150px;
    height: 40px;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 10px;
    border: none;
    border-radius: 3px;
    background-color: rgb(27, 62, 65);
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: inset 0 0 0 0 rgb(197, 53, 55);
    transition: ease-out 0.5s;
    outline: none;
}

.submit-style:hover {
    box-shadow: inset 150px 0 0 0 rgb(197, 53, 55);
}

.login-text {
    font-size: 18px;
}

.login-link {
    color: rgb(197, 53, 55);
}

.login-link:hover {
    color: rgb(27, 62, 65);
}

.signup-or-line {
    width: 70px;
    height: 2px;
    background-color: rgb(197, 53, 55);
    margin: 0 20px;
}

.signup-or-text {
    color: rgb(27, 62, 65);
}

.spinner {
    display: block;
    height: 40px;
    margin: 0 auto;
}